rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que usuários autenticados leiam e escrevam em qualquer documento.
    // Para um aplicativo em produção, você deve refinar essas regras
    // para garantir que os usuários só possam acessar os dados que lhes são permitidos.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
