rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // CUIDADO: Estas regras permitem acesso público a todo o seu banco de dados.
    // São úteis para começar, mas não são seguras para produção.
    // Altere para regras mais seguras assim que possível.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}